{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='style/reset_password.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock%}

{% block menu%}
{% endblock %}

{% block content%}
<div class="reset">
  <div class="reset-body">
    <div class="reset-content">
      <h1 class="reset-title">Setting a new password</h1>
      <form action="" method="post" class="reset-form form">
        {{ form.hidden_tag() }}

        <label for="initPassword" class="form-email-label">Password</label>

        <div class="email-input-group">
          {{ form.password(id="initPassword", class="form-password-input", placeholder="Enter password")}}
          <img src="{{url_for('static', filename='img/lock.jpg')}}" alt="lock" class="input-icon pass">
          <img src="{{url_for('static', filename='img/close_eye.svg')}}" alt="lock" class="input-icon eye first">
          <img src="{{url_for('static', filename='img/open_eye.svg')}}" alt="lock" class="input-icon eye first opened">
        </div>

        <label for="secondPassword" class="form-pass-label">Repeat password</label>

        <div class="email-input-group">
          {{ form.repeat_password(id="secondPassword", class="form-password-input", placeholder="Repeat password")}}
          <img src="{{url_for('static', filename='img/lock.jpg')}}" alt="lock" class="input-icon pass">
          <img src="{{url_for('static', filename='img/close_eye.svg')}}" alt="lock" class="input-icon eye second">
          <img src="{{url_for('static', filename='img/open_eye.svg')}}" alt="lock" class="input-icon eye second opened">
        </div>

        {{ form.submit(type="submit", class="form-button", value="Save and continue") }}
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                     <p class="form-invalid">{{ message }}</p>
                  {% endfor %}
                {% endif %}
        {% endwith %}

        {% if form.repeat_password.errors %}
            {% for message in form.repeat_password.errors %}
              <p class="form-invalid">{{ message }}</p>
            {% endfor %}
        {% endif %}
      </form>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/reset.js')}}"></script>
{% endblock %}