<p>Dear {{ user.firstname }}</p>
<p>We have received a request to reset your password and we are ready to help you regain access to your account. We understand that forgetting your password can be unpleasant, but don't worry, we're here to assist you in getting back into your account.</p>
<p>We have sent you this email to provide you with the opportunity to reset your password. To proceed with the password reset process, simply follow the instructions below:</p>
<ol>
    <li>Click on the link below to go to the password reset page.</li>
    <li>Enter a new password that is secure and easy for you to remember.</li>
    <li>Click the "Confirm" or "Reset Password" button to complete the reset process.</li>
</ol>
<p>Reset password link: <a href="{{ url_for('auth.reset_password', reset_token=token, _external=True) }}">Reset Password</a></p>
<p>We recommend choosing strong passwords that include a combination of uppercase and lowercase letters, numbers, and special characters. Use a unique password for each of your accounts to ensure maximum security.</p>
<p>If you did not request a password reset, please ignore this email. Your account will remain unchanged and securely protected.</p>
<p>Thank you for your patience and understanding. We value your security and strive to make your experience using our platform as convenient as possible.</p>
<p><br>The Support SmartSense</p>
