.header_container{
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    max-width: 1800px;
    padding-left: 40px;
    padding-right: 40px;
}


.header {
    background-color: #151924;
    position: relative;
    z-index: 1;
}
.header_container {
}
.header-content {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-firstGroup {
    display: flex;
    align-items: center;
}
.header-logo-group {
    display: flex;
    align-items: center;
}
.logo-img {
}
.header-logo-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 12px;
}
.header-itemListDiv{
    padding-left: 90px;
}
.header-itemList {
    display: flex;
    align-items: center;
}
.header-item {
    padding-left: 34px;
    cursor: pointer;
}
.item-group {
    display: flex;
    align-items: center;
}
.item-img {
    padding-right: 14px;
}
.item-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #CFD1D4;
}
.header-secGroup {
}
.header-leave{
cursor: pointer;
}
@media(max-width:850px){
  .header-itemListDiv{
    padding-left: 20px;
  }
  
}
@media(max-width:711px){
  .item-text{
    display: none;
  }
}
@media(max-width:494px){
  .header-logo-title{
    display: none;
  }
  .header-item{
    padding-left: 18px;
  }
}

.error{
position: fixed;
width:100%;
height: 100%;
background-color: #575DFB;
top: 0;
left: 0;
z-index: 0;
cursor: default;
}

.error-body{
min-height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10px;
}
.error-content{
max-width: 800px;
padding-left: 10px;
padding-right: 10px;
}
.error-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 160px;
    line-height: 194px;
    color: #000000;
    text-align: center;
}
.error-subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-top: 36px;
}

@media(max-width:440px){
  .error-title{
    font-size: 120px;
    line-height: 130px;
  }
  .error-subtitle{
    font-size: 20px;
    line-height: 20px;
  }
}