.header_container{
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    max-width: 1800px;
    padding-left: 40px;
    padding-right: 40px;
}


.header {
    background-color: #151924;
}
.header_container {
}
.header-content {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-firstGroup {
    display: flex;
    align-items: center;
}
.header-logo-group {
    display: flex;
    align-items: center;
}
.logo-img {
}
.header-logo-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 12px;
}
.header-itemListDiv{
    padding-left: 90px;
}
.header-itemList {
    display: flex;
    align-items: center;
}
.header-item {
    padding-left: 34px;
    cursor: pointer;
}
.item-group {
    display: flex;
    align-items: center;
}
.item-img {
    padding-right: 14px;
}
.item-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #CFD1D4;
}
.header-secGroup {
}
.header-leave{
cursor: pointer;
}
@media(max-width:850px){
  .header-itemListDiv{
    padding-left: 20px;
  }
  
}
@media(max-width:711px){
  .item-text{
    display: none;
  }
}
@media(max-width:494px){
  .header-logo-title{
    display: none;
  }
  .header-item{
    padding-left: 18px;
  }
}

.main {
  background-color: #575DFB;
}
.main-content {
  padding-bottom: 126px;
}
.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: -80px;

  padding-left: 20px;
  padding-right: 20px;
}
.card {
  background-color: #151924;
  margin-right: 80px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin-top: 55px;
  border-radius: 12px;
}
.card-content {
  
  padding: 38px 148px 156px 148px;
}
.card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #D8D8D8;
  text-align: center;
}
.card-text {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 100px;
  color: #17B1EA;
  padding-top: 90px;
}

@media(max-width:568px){
  .card-content{
    padding: 38px 0px 156px 0px
  }
}