{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='style/reset_password_reaquest.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock%}

{% block menu%}
{% endblock %}

{% block content%}
<div class="forgot">
  <div class="forgot-body">
    <div class="forgot-content">
      <h1 class="forgot-title">Forgot your password?</h1>
      <h3 class="forgot-subtitle">Please enter the email address you use to sign in.</h3>
      <form action="" method="post" class="forgot-form form">
         {{ form.hidden_tag() }}

        <label for="email" class="form-email-label">Email</label>
        <div class="input-group">
          {{ form.email(type="email", id="email", class="form-email-input", placeholder="Enter your email")}}
          <img src="{{url_for('static', filename='img/email.jpg')}}" alt="" class="input-icon email">
        </div>
        {{ form.submit(type="submit", class="form-button", value="Request a password reset") }}
        <a class="forgot-back" href="{{url_for('login')}}">Back to login</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}